version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/universal:2
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    depends_on:
      - db 

  # Ruby on Rails application
  rails:
    build:
      context: .
      dockerfile: Dockerfile.rails
    volumes:
      - .:/app:cached
      - rails_bundle:/usr/local/bundle
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - RAILS_ENV=development
      - BUNDLE_PATH=/usr/local/bundle
    command: bash -c "bundle install && bin/rails server -b 0.0.0.0"
    stdin_open: true
    tty: true

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"

volumes:
  rails_bundle:
